version: "3.8"
services:
    ontop:
        hostname: ontop
        container_name: ontop
        image: chimerasuite/ontop:fd38fec7a0
        environment: 
            - "ONTOP_ONTOLOGY_FILE=/opt/ontop/input/pizza-minimal-ontop.owl"
            - "ONTOP_MAPPING_FILE=/opt/ontop/input/pizza-minimal-ontop.obda"
            - "ONTOP_PROPERTIES_FILE=/opt/ontop/input/pizza-minimal-ontop.properties"
        ports:
           - "8080:8080"
        volumes:
           - "./ontop-endpoint/input/spark:/opt/ontop/input"
           - "./ontop-endpoint/jdbc:/opt/ontop/jdbc"
 
networks:
    default:
        external:
            name: pizza-network
